[submodule "lib/drosera-contracts"]
	path = lib/drosera-contracts
	url = https://github.com/drosera-network/contracts
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
